<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vida1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.VIDA1"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CrearVisitante"
            android:exported="false" />
        <activity
            android:name=".verificar_numero"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InformacionVisitante"
            android:exported="false" />
        <activity
            android:name=".PaginaEditarVisita"
            android:exported="false" />
        <activity
            android:name=".ListaVisitas"
            android:exported="false" />
        <activity
            android:name=".EditarParque"
            android:exported="false" />
        <activity
            android:name=".InformacionSensor"
            android:exported="false" />
        <activity
            android:name=".InformacionSensores"
            android:exported="false" />
        <activity
            android:name=".InformacionParque"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".PantallaParques"
            android:exported="false" />
        <activity
            android:name=".PerfilUser"
            android:exported="false" />
        <activity
            android:name=".CrearParque"
            android:exported="false" />
        <activity
            android:name=".PaginaPrincipal"
            android:exported="false" />
        <activity
            android:name=".CrearCuenta"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>